PEAdvisor-NodeRED-TEAME.json
[{"id":"a3b9f080.280a6","type":"tab","label":"PE-Advisor","disabled":false,"info":""},{"id":"6c10c275.b3a65c","type":"function","z":"a3b9f080.280a6","name":"Prepare for Assistant","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":180,"wires":[["c24e267e.037488"]]},{"id":"3552bfda.d4422","type":"function","z":"a3b9f080.280a6","name":"Prepare for Telegram","func":"if (msg.payload.intents[0] === undefined){\n    msg.payload.output.text[0] = \"I am not trained to answer this question! I can tell you about safety features, polyethylene applications, polyethylene production, polyethylene production reactions, polyethylene production techniques and regulations in polyethylene plants\";\n}\nelse{\n    var intent = msg.payload.intents[0].intent;\n    if(msg.payload.output.text[0] == \"I didn't understand. You can try rephrasing.\"){\n        msg.payload.output.text[0] = \"I am not trained to answer this question! I can tell you about safety features, polyethylene applications, polyethylene production, polyethylene production reactions, polyethylene production techniques and regulations in polyethylene plants\";\n    }\n    else if(msg.payload.output.text.length == 2){\n        msg.payload.output.text[0] = msg.payload.output.text[0]  + \"\\n\\n\" + msg.payload.output.text[1];\n    }\n}\nmsg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : msg.payload.output.text[0]\n};\nif(intent == \"differentTopic\")\n{\n    msg.payload.content = msg.search_results.results[0].text;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":420,"wires":[["6c106470.6d88dc"]]},{"id":"987934d7.1b09c8","type":"telegram receiver","z":"a3b9f080.280a6","name":"","bot":"f5975a17.773ed8","saveDataDir":"","x":120,"y":180,"wires":[["6c10c275.b3a65c"],[]]},{"id":"6c106470.6d88dc","type":"telegram sender","z":"a3b9f080.280a6","name":"","bot":"f5975a17.773ed8","x":680,"y":440,"wires":[[]]},{"id":"d4917018.7cdb9","type":"watson-discovery-v1","z":"a3b9f080.280a6","name":"discovery","environmentname":"","environment_id":"57f9fbf2-2e0c-4653-a75b-d155eb9ade0f","collection_id":"d83d8142-b400-4440-a8fd-a0fe5e3b7d0f","configurationname":"","configuration_id":"","language_code":"en","collection_name":"","count":"","passages":true,"nlp_query":false,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/discovery/api","x":600,"y":300,"wires":[["3552bfda.d4422","70e9510a.fb07"]]},{"id":"60a9fc79.9081e4","type":"function","z":"a3b9f080.280a6","name":"Prepare for Discovery","func":"if(msg.payload.entities[0] !== undefined && msg.payload.entities[1] !== undefined && msg.payload.entities[2] !== undefined)\n{ \n    var number_of_entities;\n    number_of_entities == msg.payload.entities.length;\n    if(number_of_entities == 1)\n    {\n        msg.discoveryparams = \n        {\n            query : \"enriched_text.entities.type:'\" + msg.payload.entities[0].entity\n        };\n    }\n    else if(number_of_entities == 2)\n    {\n       msg.discoveryparams = \n        {\n            query : \"enriched_text.entities.type:'\" + msg.payload.entities[0].entity + \n            \"',enriched_text.entities.type:'\" + msg.payload.entities[1].entity \n        }; \n    }\n    else if(number_of_entities == 3)\n    {\n       msg.discoveryparams = \n        {\n            query : \"enriched_text.entities.type:'\" + msg.payload.entities[0].entity +\n                \"',enriched_text.entities.type:'\" + msg.payload.entities[1].entity +\n                \"',enriched_text.entities.type:'\" + msg.payload.entities[2].entity \n        }; \n    }\n    else{\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":300,"wires":[["d4917018.7cdb9"]]},{"id":"c24e267e.037488","type":"watson-conversation-v1","z":"a3b9f080.280a6","name":"","workspaceid":"a3560531-9463-4c54-b1d5-1a44bd55df1e","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":600,"y":180,"wires":[["60a9fc79.9081e4","9236adff.c020f"]]},{"id":"9236adff.c020f","type":"debug","z":"a3b9f080.280a6","name":"Assistant output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":820,"y":180,"wires":[]},{"id":"70e9510a.fb07","type":"debug","z":"a3b9f080.280a6","name":"discovery output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":300,"wires":[]},{"id":"f5975a17.773ed8","type":"telegram bot","z":"","botname":"PE-Advisor","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false}]